{include file="public/header" /}
<link href="{$Think.config.css_path}style.css" rel="stylesheet" />
<style type="text/css">
.logoimg {
    margin: 30px 0;
    width: 100%;
    text-align: center;
}

.searchinput {
    margin-top: 50px;
    width: 500px;
}

.imglist {
    margin-top: 20px;
    width: 500px;
}
</style>
</head>
<noscript unselectable="on" id="noscript">
    <div class="aw-404 aw-404-wrap container">
        <img src="{$Think.config.img_path}no-js.jpg">
        <p>你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!</p>
    </div>
</noscript>

<body>
    {include file="Public/usidebar" /}
    <div class="am-container">
        <div class="am-g" style="margin-top:50px">
            <form class="am-form">
                <fieldset>
                    <legend>专题属性编辑</legend>
                    <div class="am-form-group">
                        <label for="doc-ipt-email-1">专题名称</label>
                        <input type="text" id="stitle" value="" readonly>
                    </div>
                    <div class="am-form-group">
                        <label for="doc-ipt-email-1">专题属性(多个关键词组合请用英文 <span class="am-text-danger">;</span> 号分隔)</label>
                        <div class="am-input-group">
                            <textarea rows="4" id="params"></textarea>
                            <span class="am-input-group-label">
							<button type="button" class="am-btn am-btn-secondary am-round" onclick="addparam();">添加</button>
						</span>
                        </div>
                    </div>
                    <div class="am-alert am-alert-danger" id="alert" style="display: none"></div>
                    <table class="am-table">
                        <tbody id="speciallist">
                        </tbody>
                    </table>
                    <input type="hidden" id="uid" value="{$uid}">
                    <input type="hidden" id="sid" value="{$sid}">
                    <input type="checkbox" id="checkall"> [全选]
                    <button type="button" class="am-btn am-btn-success" style="margin-left:30px" onclick="delall();">删除</button>
                </fieldset>
            </form>
        </div>
    </div>
    <script id="template01" type="text/x-handlebars-template">
        {{#each this}}
        <tr>
            <td class="am-text-center" width="50px">
                <input type="checkbox" id="{{id}}">
            </td>
            <td style="margin-left:10px" id="pa{{id}}">{{keywords}}</td>
            <td class="am-text-center" width="50px" id="pb{{id}}"><a href="javascript:void(0);" onclick="edits({{id}})">编辑</a></td>
            <td class="am-text-center" width="50px"><a href="javascript:void(0);" onclick="delparam({{id}})">删除</a></td>
        </tr>
        {{/each}}
    </script>
    {include file="Public/footer" /}
    <script src="{$Think.config.js_path}handlebars.min.js"></script>
    <script>
    <!--
    $(document).ready(function() {
        $.AMUI.progress.configure({
            parent: "#footer"
        });
        getdata();
        $("#checkall").click(function() {
            if (this.checked) {
                $("#speciallist :checkbox").prop('checked', true);
                //console.log('1');
            } else {
                $("#speciallist :checkbox").prop('checked', false);
            }
        });
    });

    function getdata() {
        $.AMUI.progress.start();
        $.post('{:Url('special/getparam')}', {
                uid: {$uid},
                sid: {$sid}
            },
            function(data, status) {
                if (data != 'false') {
                    $('#stitle').val(data.titles);
                    var myTemplate01 = Handlebars.compile($('#template01').html());
                    $('#speciallist').html(myTemplate01(data.res));
                }
                $.AMUI.progress.done();
            });
    }

    function addparam() {
        $.AMUI.progress.start();
        $.post('{:Url('special/addparam')}', {
                uid: {$uid},
                sid: {$sid},
                keys: $('#params').val()
            },
            function(data, status) {
                if (data == 'success') {
                    getdata();
                    alerts('关键词添加成功', 1);
                } else {
                    alerts('关键词添加失败');
                }
                $.AMUI.progress.done();
            });
    }

    function delparam(pid) {
        $.AMUI.progress.start();
        $.post('{:Url('special/delparam')}', {
                uid: {$uid},
                sid: {$sid},
                pid: pid
            },
            function(data, status) {
                if (data == 'success') {
                    getdata();
                } else {
                    alerts('关键词删除失败');
                }
                $.AMUI.progress.done();
            });
    }

    function editparam(pid) {
        $.AMUI.progress.start();
        var str = $('#pc' + pid).val();
        $.post('{:Url('special/editparam')}', {
                uid: $('#uid').val(),
                pid: pid,
                keys: str
            },
            function(data, status) {
                if (data == 'success') {
                    alerts('关键词编辑成功', 1);
                    $('#pa' + pid).html(str);
                    $('#pb' + pid).html('<a href="javascript:void(0);" onclick="edits(' + pid + ')">编辑</a>');
                } else {
                    alerts('关键词编辑失败');
                }
                $.AMUI.progress.done();
            });
    }

    function delall() {
        $.AMUI.progress.start();
        var pid_arr = new Array();
        $("#speciallist :checkbox").each(function(index) {
            if (this.checked) {
                pid_arr.unshift($(this).attr('id'));
            }
        });
        //console.log(pid_arr.join(','));
        $.post('{:Url('special/delparam')}', {
                uid: $('#uid').val(),
                pid: pid_arr.join(',')
            },
            function(data, status) {
                if (data == 'success') {
                    getdata();
                } else {
                    alerts('关键词删除失败');
                }
                $.AMUI.progress.done();
            });
    }

    function edits(pid) {
        if (pid != '') {
            var str = $('#pa' + pid).html();
            $('#pa' + pid).html('<input type="text" id="pc' + pid + '" value="' + str + '">');
            $('#pb' + pid).html('<a href="javascript:void(0);" onclick="editparam(' + pid + ')">保存</a>');
        } else {
            return false;
        }
    }

    function alerts(str, ch = 0) {
        var alerts = $('#alert');
        var d = new Date();
        if (ch == 1) {
            alerts.removeClass('am-alert-danger');
            alerts.addClass('am-alert-success')
            alerts.html(str + ' ( ' + d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds() + ' )').show();
        } else {
            alerts.removeClass('am-alert-success');
            alerts.addClass('am-alert-danger');
            alerts.html(str).show();
        }
    }
    //-->
    </script>
</body>

</html>
