{include file="public/header" /}
<link href="{$Think.config.css_path}style.css" rel="stylesheet" />
<style type="text/css">
.logoimg{ margin: 30px 0; width:100%; text-align: center;}
.searchinput{ margin-top:50px; width: 500px;}
.imglist{ margin-top:20px; width: 500px; }
</style>
</head>
<noscript unselectable="on" id="noscript">
	<div class="aw-404 aw-404-wrap container">
		<img src="{$Think.config.img_path}no-js.jpg">
		<p>你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!</p>
	</div>
</noscript>
<body>
{include file="Public/usidebar" /}
<div class="am-container">
	<div style="margin-top:100px">
	<table class="am-table">
		<thead>
			<tr>
				<th>当天下载（篇）</th>
				<th>本月下载（篇）</th>
				<th>全年下载（篇）</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td id="daydown"><img src="{$Think.config.img_path}loading_a.gif" border="0"></td>
				<td id="monthdown"><img src="{$Think.config.img_path}loading_a.gif" border="0"></td>
				<td id="yeardown"><img src="{$Think.config.img_path}loading_a.gif" border="0"></td>
			</tr>
		</tbody>
		</table>
	</div>
	<div class="am-g" style="margin-top:100px">
		<div class="am-u-sm-4">
			<div class="am-panel am-panel-secondary">
				<div class="am-panel-hd">检索记录</div>
				<div class="am-panel-bd" id="kvist">
					<img src="{$Think.config.img_path}loading_a.gif" border="0">
				</div>
			</div>
		</div>
		<div class="am-u-sm-8">
			<div class="am-panel am-panel-success">
				<div class="am-panel-hd">浏览记录</div>
				<div class="am-panel-bd" id="avist">
					<img src="{$Think.config.img_path}loading_a.gif" border="0">
				</div>
			</div>
		</div>
	</div>
</div>
<script id="template01" type="text/x-handlebars-template">
    {{#each this}}
    <a href="javascript:void(0);" onclick="">{{keyword}}</a><br />
    {{/each}}
</script>
<script id="template02" type="text/x-handlebars-template">
    {{#each this}}
    <a href="javascript:void(0);" onclick="">{{mtitle}}</a><br />
    {{/each}}
</script>
{include file="Public/footer" /}
<script src="{$Think.config.js_path}handlebars.min.js"></script>
<script>
<!--
$(document).ready(function(){	
	$.post('{:Url('statis/downs')}',{uid: '', type: 'day'},function(data,status){$('#daydown').html(data)});
	$.post('{:Url('statis/downs')}',{uid: '', type: 'month'},function(data,status){$('#monthdown').html(data)});
	$.post('{:Url('statis/downs')}',{uid: '', type: 'year'},function(data,status){$('#yeardown').html(data)});
	$.post('{:Url('statis/kvist')}',{uid: ''},function(data,status){var myTemplate01 = Handlebars.compile($('#template01').html());$('#kvist').html(myTemplate01(data));});
	$.post('{:Url('statis/avist')}',{uid: ''},function(data,status){var myTemplate02 = Handlebars.compile($('#template02').html());$('#avist').html(myTemplate02(data));});
});
//-->
</script>
</body>
</html>